html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  background-color: #f8fde9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 500px;
  width: 100%;
  margin-top: 20px;
}
.container {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  background-color: hsla(55, 62%, 85%, 0.801);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn {
  flex: 1 1 calc((100% - 60px) / 6); /* Changed from 0 0 to 1 1 */
  min-width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  color: #0c0c0c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: #e6e6e6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.btn-hover {
  background-color: #e6e6e6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.btn:active {
  background-color: #d9d9d9;
}
.equal {
  background-color: #4caf50;
  border-color: #4caf50;
  flex: 2 1 calc((100% - 60px) / 3);
}
.equal:hover {
  background-color: #3e8e41;
}
.undo {
  background-color: #f44336;
  border-color: #f44336;
}
.undo:hover {
  background-color: #d32f2f;
}

.clear {
  background-color: #2196f3;
  border-color: #2196f3;
}
.clear:hover {
  background-color: #1976d2;
}
